@import url("https://use.typekit.net/olc7avh.css");
@import url("https://fonts.googleapis.com/css2?family=Allerta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*::after, *::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #0b0b0b;
}

h1 {
  font-family: "Trebuchet MS", sans-serif;
  color: #f2f2f2;
}

h2, h3, h4, h5 {
  font-family: "Allerta", sans-serif;
  color: #f2f2f2;
}

p, a, li, span, input, ::placeholder {
  font-family: "Libre Franklin", sans-serif;
}

.underline {
  display: block;
  background: #6503a6;
  height: 5px;
  width: 150px;
}

header {
  position: fixed;
  background: #0b0b0b;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
header #navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px 50px;
  width: 100%;
}
header #navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
header #navbar ul li {
  margin: 0 15px;
}
header #navbar ul li a {
  color: #f2f2f2;
  font-size: 18px;
  text-decoration: none;
  transition: 0.2s;
}
header #navbar ul li a:hover {
  color: #6503a6;
  transition: 0.2s;
}
header #navbar #search a svg {
  max-width: 18px;
  max-height: 18px;
}
header #navbar #search a svg path {
  fill: #f2f2f2;
  transition: 0.2s;
}
header #navbar #search a:hover path {
  fill: #6503a6;
  transition: 0.2s;
}

.first-v {
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background: url("../local_img/background-fv.jpg") no-repeat center;
  background-size: cover;
}
.first-v #main-content {
  display: flex;
  flex-direction: column;
}
.first-v #main-content h1 {
  color: #f2f2f2;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  z-index: 2;
}
.first-v #main-content h1 span {
  color: #D90479;
}
.first-v #main-content h2 {
  color: #f2f2f2;
  font-size: 20px;
  margin: 30px 0;
  z-index: 2;
}
.first-v #main-content a {
  padding: 10px 15px;
  background: #6503a6;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  width: max-content;
  box-shadow: 5px 5px #f2f2f2;
  transition: 0.3s;
  z-index: 2;
}
.first-v #main-content a:hover {
  background: #f2f2f2;
  color: #6503a6;
  transition: 0.3s;
  box-shadow: none;
}

#teams {
  padding: 0 50px;
}
#teams .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#teams .title h2 {
  color: #f2f2f2;
  font-size: 25px;
  text-transform: uppercase;
}
#teams #teamsContainer #textTeamsList {
  display: none;
}
#teams #teamsContainer #teamsList {
  margin: 20px 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
#teams #teamsContainer #teamsList li {
  background: #f2f2f2;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  margin: 20px 0;
  box-shadow: 6px 6px #6503a6;
}
#teams #teamsContainer #teamsList li img {
  margin: 15px 0 !important;
}
#teams #createTeamForm button, #teams #createTestTeam button {
  border: none;
  padding: 10px 15px;
  background: #6503a6;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  width: max-content;
  box-shadow: 5px 5px #f2f2f2;
  transition: 0.3s;
  z-index: 2;
}
#teams #createTeamForm button:hover, #teams #createTestTeam button:hover {
  background: #f2f2f2;
  color: #6503a6;
  transition: 0.3s;
  box-shadow: none;
}
#teams #createTeamContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
#teams #createTeamContainer input, #teams #createTeamContainer select {
  border: none;
  padding: 15px 10px;
  margin: 10px 0;
}
#teams #createTeamContainer button {
  border: none;
  padding: 10px 15px;
  background: #D90479;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  width: max-content;
  transition: 0.3s;
  z-index: 2;
}
#teams #createTeamContainer button:hover {
  background: #f2f2f2;
  color: #D90479;
  transition: 0.3s;
}

.second-content {
  margin: 40px 0;
  background-size: cover;
  background: url("../local_img/wallpaper.gif") no-repeat scroll center;
  width: 100vw;
  height: 100vh;
}
.second-content h2 {
  text-transform: uppercase;
}
.second-content .container-stream {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0 auto;
}
.second-content .container-stream .video-class {
  width: 40vw;
  height: auto;
  margin-top: 7vh;
}

form {
  background: #f2f2f2;
  padding: 20px 50px;
  margin: 20px auto;
  box-shadow: 6px 6px #6503a6;
}
form ul {
  list-style: none;
  padding: 0;
}
form ul li .field-style {
  padding: 15px 10px;
  margin: 10px 0;
  border: 1px solid #f2f2f2;
  box-shadow: 1px 1px 5px #d6d6d6;
  background: #f2f2f2;
}
form ul li .field-style:focus {
  box-shadow: 0 0 5px #6503a6;
  border: 1px solid #6503a6;
}
form ul li .field-full {
  width: 100%;
}
form ul li textarea {
  width: 100%;
  height: 100px;
}
form ul li .submit {
  border: none;
  padding: 10px 15px;
  background: #D90479;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  width: max-content;
  transition: 0.3s;
  z-index: 2;
}
form ul li .submit:hover {
  background: #d6d6d6;
  color: #D90479;
  transition: 0.3s;
}

.contact-container {
  margin: 100px 0;
  width: 100vw;
  height: 100vh;
}
.contact-container .contact-us {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  height: 100vh;
  margin: 0 auto;
}
.contact-container .contact-us h2 {
  text-transform: uppercase;
}
.contact-container .contact-us p {
  margin: 20px 0;
  color: #f2f2f2;
}

/*# sourceMappingURL=style.css.map */
